body{
    background-color: lightgray;
}

nav{
    background-color: black;
    color: white;
    padding:10px;

    position: sticky;
    top: 0;
}
nav a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: lightgray;
    padding: 10px;
    margin: 0px;
    font-weight: 800;
    text-decoration: none;
    position: sticky;
    top: 0;
}
nav a:hover{
    background-color: rgb(51, 50, 50);
    color: white;
    font-size: bolder;
}
@keyframes kolor{
    from {background-color: white}
    to {background-color: rebeccapurple}
}
@keyframes kolor2{
    from {background-color: rebeccapurple}
    to {background-color: green}
}
#kwadrat{
    width: 150px;
    height: 150px;
    animation-name: kolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}